{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<body style="background-color: rgb(68, 255, 0)">
    

<div class="div-container">
    <div class="card">
        <img src="{% static 'images/ryan-spencer-XGKaRnWjv1c-unsplash.png'%} " class="img" alt="">
        <div class="body-card">
            <h4>This is who we are and what we do</h4>
            <p>Due to slaggishness in booking for our places of interest,we decided to come up with this online hotel and site booking site for both local and international tourists.</p>

        </div>

    </div>

</div>
</body>
{% endblock%}