{% extends 'store/base.html' %}
{% load static %}



{% block content %}




<div class="card" style="width: 18rem;">
  <img src="static/images/beach1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><a href="#">Diani Beach</a></h5>
    <p class="card-text">The Cleanest beach.Wont regret visiting it</p>
  </div>
</div>

<br>

<div class="card" style="width: 18rem;">
  <img src="static/images/hotel1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><a href="#">Manyatta Hote</a></h5>
    <p class="card-text">Best swahili dishes are served here</p>
  </div>
</div>

<br>

<div class="card" style="width: 18rem;">
  <img src="static/images/hotel2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><a href="#">Fogo Gaucho</a></h5>
    <p class="card-text">Best Brazilian Steak House</p>
  </div>
</div>

<br>

<div class="card" style="width: 18rem;">
  <img src="static/images/pack5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><a href="#">Yanga Hotel</a></h5>
    <p class="card-text">All sorts and animal breeds found here</p>
  </div>
</div>

<br>

<div class="card" style="width: 18rem;">
  <img src="static/images/pack6.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><a href="#">Maria Hotel</a></h5>
    <p class="card-text">All breeds of endangered animals</p>
    <ul>
      <li>Nice Rooms</li>
      <li>All inclusive</li>
      <li>Guided visits</li>
    </ul>
  </div>
</div>
{% endblock%}